<aside>
  <ul>
    <li style="--clr:#00ade1">
      <a href="#"  data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
    </li>
    <li style="--clr:#ff6492">
      <a routerLink="inscripciones"  data-text="&nbsp;Inscribirse">&nbsp;Inscribirse&nbsp;</a>
    </li>
    <li style="--clr:#ffdd1c">
      <a href="#"  data-text="&nbsp;Cursos">&nbsp;Cursos&nbsp;</a>
    </li>
    <li style="--clr:#00dc82">
      <a routerLink="alumnos"  data-text="&nbsp;Alumnos">&nbsp;Alumnos&nbsp;</a>
    </li>
    <li style="--clr:#dc00d4">
      <a href="#"  data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
    </li>
  </ul>
</aside>