<div class="formulario flex flex-column">
  <div class="center form-group">
    <h1>Formulario de Inscripcion</h1>
    <form [formGroup]="formularioAlumno" (ngSubmit)="null">
      <div class=" txt_field">      
        <input type="text" class="form-control" formControlName="nombre">
        <span></span>
        <label>Nombre <span style="color:red"
          *ngIf="formularioAlumno.get('nombre')?.errors?.['required']">
         *</span> 
         <span class="text-danger" style="font-size:19px; color:red;"
         *ngIf="formularioAlumno.get('nombre')?.errors?.['minlength']">   Numero
         minimo de
         caracteres es
         6</span> </label>      
      </div>
      <div class=" txt_field">      
        <input type="text" class="form-control" formControlName="apellido">
        <span></span>
        <label>Apellido<span style="color:red"
          *ngIf="formularioAlumno.get('apellido')?.errors?.['required']">
         *</span> 
         <span class="text-danger" style="font-size:19px; color:red;"
         *ngIf="formularioAlumno.get('apellido')?.errors?.['minlength']">   Numero
         minimo de
         caracteres es
         6</span> </label>    
      </div>
      <div class=" txt_field">      
        <input type="text" class="form-control" formControlName="email">
        <span></span>
        <label>Email<span style="color:red"
          *ngIf="formularioAlumno.get('email')?.errors?.['required']">
         *</span> 
         <span class="text-danger" style="font-size:19px; color:red;"
         *ngIf="formularioAlumno.get('email')?.errors?.['email']"> Introducir email valido
        </span></label>    
      </div>
      <div class=" txt_field">      
        <input type="text" class="form-control" formControlName="telefono">
        <span></span>
        <label>Telefono<span style="color:red"
          *ngIf="formularioAlumno.get('telefono')?.errors?.['required']">
         *</span> 
         <span class="text-danger" style="font-size:19px; color:red;"
         *ngIf="formularioAlumno.get('telefono')?.errors?.['telefono']"> 
        </span></label>    
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" formControlName="localidad">   
        <span></span>
        <label for="Password">Localidad<span style="color:red"
          *ngIf="formularioAlumno.get('localidad')?.errors?.['required']">
         *</span> 
         <span class="text-danger" style="font-size:19px; color:red;"
         *ngIf="formularioAlumno.get('localidad')?.errors?.['minlength']">   minimo de 8 caracteres</span>
      </label>
       
      </div> 
     
      <p class="camposObligatorios"> * campos Obligatorios </p>

      <div class="pass">Olvidaste la password?</div>

      <input name="submit" type="submit" value="Inscribirme"  [disabled]="formularioAlumno.invalid" routerLink="alumnos" (click)="addAlumno()">
      
      <div class="signup_link">
        No sos Miembro ? <a href="#">Registrarse</a>
      </div>
    </form>
    <div  class="flex flex-row justify-end p-3">
      <button mat-flat-button color="primary" (click)="verTablaAlumnos()">Ver alumnos</button>
    </div>
  </div>
</div>

